@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

:root {
    --colorMain: #c69a55;
    --colorMainLight: #ffe3b4;
    --colorButton: #c00f26;
    --colorWhite: #fefefe;
    --colorDark: #444;
    --colorGray: #f6f6f6;
    --colorBackground2: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--colorDark);    
}

.header-mobile{
    display: none;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--colorWhite);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.close-menu{
    display: none;
}

.main{
    background-color: var(--colorBackground2);    
}

.logo {
    width: 80%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--colorWhite);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 0.9rem;
}

.boton-menu:hover{
    color: var(--colorMain);
    letter-spacing: 1px;
    transition: all ease .2s;
}

.boton-menu.active {
    background-color: var(--colorWhite);
    color: var(--colorMain);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: relative;
}

.boton-menu.active::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 var(--colorWhite);
}

.boton-menu.active::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 var(--colorWhite);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--colorWhite);
    color: var(--colorMain);
    font-weight: 700;
    font-size: 16px;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
}

.boton-carrito.active .numerito {
    background-color: var(--colorMain);
    color: var(--colorWhite);
}

.texto-footer {
    color: var(--colorMainLight);
    font-size: 0.85rem;
}

main {
    background-color: var(--colorWhite);
    margin: 1rem;
    margin-left: 0;
    border-radius: 0.5rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--colorMain);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-estrella {
    color: rgb(255, 181, 52);
}

.producto-detalles {
    background-color: var(--colorGray);
    color: var(--colorDark);
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-detalles:hover {
    transition: 0.6s;
}

.producto-titulo {
    font-size: 1rem;
    font-weight: 600;
}

.producto-agregar {
    border: 2px solid var(--colorMain);
    background: var(--colorMain);
    color: var(--colorWhite);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--colorWhite);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}

.producto-agregar:hover {
    background-color: var(--colorMainLight);
    color: var(--colorMain);
    transform: scale(1.04);
    border: 1px solid var(--colorMain);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

/*  Carrito  */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--colorMain);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorMainLight);
    align-items: center;
    color: var(--colorDark);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 5rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--colorButton);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--colorMainLight);
    padding: 0.7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--colorMain);
    cursor: pointer;
    box-shadow: 5px 5px 20px var(--colorGray);
    text-transform: uppercase;
}

.carrito-acciones-vaciar:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--colorMain);
    padding: 0.9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--colorWhite);
    cursor: pointer;
    box-shadow: 5px 5px 20px var(--colorGray);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--colorMainLight);
    padding: 0.7rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: var(--colorMain);
    font-weight: 600;
    text-transform: uppercase;
    gap: 1rem;
}

.carrito-acciones-comprar:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

.disabled {
    display: none;
}


/******* MEDIA QUERIES *******/

@media screen and (max-width: 950px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }


@media screen and (max-width: 600px){
    
    .wrapper{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .header-mobile .logo{
        width: 40%;
    }

    .open-menu, .close-menu{
        font-size: 2rem;
        background-color: transparent;
        color: var(--colorMain);
        border: 0;
        cursor: pointer;
    }

    .close-menu{
        position: absolute;
        display: block;
        top: 2rem;
        right: 1rem;
    }

    aside{
        position: fixed;
        z-index: 9;
        background-color: var(--colorDark);
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    .aside-visible{
        transform: translateX(0);
        transition: all ease .5;
        opacity: 1;
        visibility: visible;
    }

    main{
        margin: 2rem;
        margin-top: 0;
    }

    .contenedor-productos{
        grid-template-columns: 1fr;
    }

    .boton-menu.active::after,
    .boton-menu.active::before {
        display: none;
    }

    .carrito-producto{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
    }

    .carrito-acciones{
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
    }

}}