@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

:root{
    --colorMain: #c69a55;
    --colorButton: #c00f26; 
    --colorWhite: #fff;
    --colorBeige: #cbba9e;
    --colorBeigeLight: #eaeaea;
    --colorDark: #2222; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--colorBeige);
}

aside{
    padding: 2rem;
    color: var(--colorWhite);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.texto-footer{
    color: var(--colorBeigeLight);
    font-size: 0.85rem;
}

main{
    background-color: var(--colorWhite);
    margin: 1rem;
    margin-left: 0;
    border-radius: 0.5rem;
    padding: 3rem;
}

.titulo-principal{
    color: var(--colorMain);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}