@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

:root{
    --colorMain: #c69a55;
    --colorButton: #c00f26; 
    --colorWhite: #fff;
    --colorBeige: #cbba9e;
    --colorDark: #2222; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--colorBeige);
}

aside{
    padding: 2rem;
    color: var(--colorWhite);
}