*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  min-height: 100vh;
  padding: 70px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h2{
  padding-bottom: 5px;
}

input {
  margin-inline: 1rem;
  margin-block: 2rem;
  width: 700px;
  padding: 15px;
  border: 1px solid #a0a0a0;
}

button {
  padding: 15px;
  border: 1px solid #a0a0a0;
  border-radius: 1px;
}

.element {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.element img{
  max-width: 250px;
  border-radius: 10px;
}

.element-div{
  height: 500px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  box-shadow: 0 0 20px 2px #d5d5d5;
  margin: 0 auto;
  padding: 20px;
}

p{
  margin: 0 auto;
}